extends layout

block content
    h1 #{title}
    form(method="POST", action="/notes/add")
        #form-group
            input.form-control.add-note(name='title', type='text' placeholder='Note Title')
        #form-group
            textarea.form-control.note-body(name='body' placeholder='Note Body')
        br
        input.btn.btn-primary(type='submit', value='submit')