extends layout

block content
    h1 #{title}
      .bottom
        .row.space
          each note, i in notes
            if user.id == note.author
              .w-100  
                a.art(href='/notes/'+ note._id)= note.title