extends layout

block content
    h1 #{title}
      .bottom
        .row.space
          each note, i in notes
            if user.id == note.author
                .card.col-sm-3
                    a.art.card-title(href='/notes/'+ note._id)= note.title
          
