extends layout

block content
    .text-center
        h3.margin NoteMaster
        
    .text-center
        h3.margin
            i.fa.fa-lock
                |  Secure
        p
            | At NoteMaster every note that is made is safe and secure and can only be viewed by the user who created it.
       
    .text-center
        h3 What you can do
        br
        .row
            .col-sm-4
                i.fa.fa-sign-in.text-center.icn
                p
                    | Create a free  
                    a(href='/user/register') account
                    |  or login to an existing
                    a(href='/users/login')  account
            
            .col-sm-4
                i.fa.fa-book.text-center.icn
                p
                    | Start keeping track of your thoughts       
            .col-sm-4
                i.fa.fa-database.text-center.icn
                p
                    | All notes and users are saved to a MonogDB Database
    