doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title NoteMaster
        link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet' href='/css/main.css')
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    body
        nav.navbar.navbar-inverse.bg-dark.col-sm-12
            .container
                .navbar-header
                    if user
                        h5.wel.title Welcome #{user.name}
                    else
                        h5.navbar-brand.title NoteMaster
                .nav.navbar-nav.justify-content-lg-start
                    ul.nav.mbl
                       
                        if user
                            li.nav-item.space
                                a.nav-link(href='/notes/home') Home
                            li.nav-item.space
                                a.nav-link(href='/notes/add') Add Note
                            li.nav-item.space 
                                a.nav-link(href='/users/logout') Logout
                        else
                            li.nav-item.space
                                a.nav-link(href='/') Home
                            li.nav-item.space
                                a.nav-link(href='/users/register') Register
                            li.nav-item.space
                                a.nav-link(href='/users/login') Login
        .container
            != messages('message', locals)
            if errors
                each error, i in errors
                    div(class='alert alert-danger') #{error.msg}
            block content
            br
            hr
            footer
                p Copyright &copy; 2018
        script(src='/bower_components/jquery/dist/jquery.js')  
        script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
        script(src='/js/application.js')