extends layout

block content
    .notes-title
        h1= notes.title 
    .notes-body
        p= notes.body
    a.edit.delete-note.float-right.footer.m(href='#', data-id=notes._id)
        i.fa.fa-trash
    a.edit.float-right.footer.m(href='/notes/edit/'+notes._id)
        i.fa.fa-edit 
    a.edit.float-left.footer(href='/notes/home')
        i.fa.fa-arrow-left
    
    
        