extends layout

block content
    h1= notes.title 
    p= notes.body
    hr
    
    a.btn.btn-danger.delete-note.float-right(href='#', data-id=notes._id) Delete
    a.btn.btn-secondary.float-right(href='/notes/edit/'+notes._id) Edit 
    a.btn.btn-dark(href='/notes/home') Back
    
    
        