.space a {
    margin-left: 10px;
    color: white;
}

.bottom {
    margin-top: 1%;
}

a:hover {
    text-decoration: none;
}

.title {
    color: white;
}

.art {
    color: black !important;
    text-align: center;
    padding: 15px;
}

.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.card {
    margin-left: 3px;
    border-radius: 5px;
    margin-right: 10px;
    box-shadow: 0 0 10px 0 black;
    margin-bottom: 10px;
}

.alert-success_msg {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.btn {
    margin-right: 10px;
}

p {
    font-size: 16px;
}

.icn {
    font-size: 32px !important;
}

.margin {
    margin-bottom: 45px;
}

.bg-1 {
    background-color: #1abc9c;
    /* Green */
    color: #ffffff;
}

.bg-2 {
    background-color: #474e5d;
    /* Dark Blue */
    color: #ffffff;
}

.bg-3 {
    background-color: #ffffff;
    /* White */
    color: #555555;
}

.bg-4 {
    background-color: #2f2f2f;
    /* Black Gray */
    color: #fff;
}

@media only screen and (width: 375px) {
    .title {
        font-size: 1rem;
    }
    .wel {
        margin-top: 5px;
    }
}